<div class="modal-header">
    <h4 class="modal-title">{{item.name}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-8">
            <img class="card-img-top" src="{{item.image_url}}" alt="{{item.name}}">
            <div class="card-body">
                <p class="card-text" style="margin-bottom: 2rem;white-space:pre-wrap;">{{item.description}}</p>
            </div>
        </div>
        <div class="col">
            <h5>Parents</h5>
            <div class="row parent-row" *ngFor="let parent of parents">
                <h6>{{parent.name}}</h6>
                <img class="card-img-top" src="{{parent.image_url}}" alt="{{parent.name}}">
            </div>
        </div>
    </div>
</div>