@import 'https://fonts.googleapis.com/css?family=MedievalSharp';

html{
  cursor: url("./assets/img/bg/cursor.png"), pointer;
}

.pointer {
  cursor: url("./assets/img/bg/cursor-click.png"), pointer;
}

.button{
  cursor: url("./assets/img/bg/cursor-click.png"), pointer;
}
.btn-close{
  cursor: url("./assets/img/bg/cursor-click.png"), pointer !important;
}

a{
  cursor: url("./assets/img/bg/cursor-click.png"), pointer;
}

.carousel-control-next{
  cursor: url("./assets/img/bg/cursor-click.png"), pointer !important;
}

.carousel-control-prev{
  cursor: url("./assets/img/bg/cursor-click.png"), pointer !important;
}


/* You can add global styles to this file, and also import other style files */
.page-section {
  background-color: #618698;
  color: #fff;
  padding: 6rem 0;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fffff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fffff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


h3 {
  margin-bottom: 1em !important;
  margin-top: 1.5em !important;
}


a {
  color: rgb(255, 255, 255) !important;
  background-color: transparent;
}

a:link {
  color: rgb(255, 255, 255) !important;
  background-color: transparent;
}


ngb-pagination .page-item.active .page-link{
  color: #fff;
  background-color: rgba(255, 255, 255, 0.185);
  border-color: #fff;
}

ngb-pagination .page-item.disabled .page-link {
  visibility: hidden;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.185)
}

.text-center{
	font-family: MedievalSharp;
}

.nav-link{
	font-family: MedievalSharp;
}
.nav-link-home{
	font-family: MedievalSharp;
}
.footer{
	font-family: MedievalSharp;
}

.modal-content{
  background-color: #fff0 !important;
  border: 0px solid rgba(0, 0, 0, 0.2) !important; 
	font-family: MedievalSharp;
}


.modal-header{
  background-color: transparent;
  background-image: url("./assets/img/bg/scroll-top.gif");
  background-size: 100% 100% !important;
  padding-right: 5% !important;
  padding-left: 10% !important;
  padding-bottom: 50px !important;
  margin: 0;
  margin-right: 7px!important;
  margin-left: 10px!important;
  border: 0 !important;
}

.modal-body{
  padding-top: 10px !important;
  padding-right: 10% !important;
  padding-left: 10% !important;
  background-color: transparent;
  background-image: url("./assets/img/bg/scroll-center.gif");
  background-size: 100% 100%;
  margin: 0;
  margin-left: 11px!important;
  margin-right: 7px!important;
  border: 0 !important;
}

.modal-title{
  margin-top: 20px !important;
	font-family: MedievalSharp;
  font-weight: bold;
}


.modal-footer{
  background-color: transparent;
  background-image: url("./assets/img/bg/scroll-bottom.gif");
  background-size: 100% 100%;
  margin: 0;
  // margin-left: -10px!important;
  // margin-right: -5px!important;
  padding: 50px!important;
  border: 0 !important;
}