@import 'https://fonts.googleapis.com/css?family=MedievalSharp';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html {
  cursor: url("./assets/img/bg/cursor.png"), pointer;
}

.pointer {
  cursor: url("./assets/img/bg/cursor-click.png"), pointer;
}

.button {
  cursor: url("./assets/img/bg/cursor-click.png"), pointer;
}

.btn-close {
  cursor: url("./assets/img/bg/cursor-click.png"), pointer !important;
}

a {
  cursor: url("./assets/img/bg/cursor-click.png"), pointer;
}

.carousel-control-next {
  cursor: url("./assets/img/bg/cursor-click.png"), pointer !important;
}

.carousel-control-prev {
  cursor: url("./assets/img/bg/cursor-click.png"), pointer !important;
}


/* You can add global styles to this file, and also import other style files */
.page-section {
  background-color: #618698;
  color: #fff;
  padding: 6rem 0;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fffff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fffff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


h3 {
  margin-bottom: 1em !important;
  margin-top: 1.5em !important;
}


h4 {
  margin-bottom: 0.5em !important;
  margin-top: 1em !important;
}


a {
  color: rgb(255, 255, 255) !important;
  background-color: transparent;
}

a:link {
  color: rgb(255, 255, 255) !important;
  background-color: transparent;
}


ngb-pagination .page-item.active .page-link {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.185);
  border-color: #fff;
}

ngb-pagination .page-item.disabled .page-link {
  visibility: hidden;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.185)
}

.text-center {
  font-family: MedievalSharp;
}

.nav-link {
  font-family: MedievalSharp;
}

.nav-link-home {
  font-family: MedievalSharp;
}

.footer {
  font-family: MedievalSharp;
}

.modal-content {
  background-color: #fff0 !important;
  border: 0px solid rgba(0, 0, 0, 0.2) !important;
  font-family: MedievalSharp;
}


.modal-header {
  background-color: transparent;
  background-image: url("./assets/img/bg/scroll-top.gif");
  background-size: 100% 100% !important;
  border: 0 !important;
  margin: 0;

  @include media-breakpoint-up(lg) {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  @include media-breakpoint-up(md) {
    padding-right: 5% !important;
    padding-left: 10% !important;
    padding-bottom: 50px !important;
    margin-right: 10px !important;
    margin-left: 12px !important;
  }

  @include media-breakpoint-up(sm) {
    padding-right: 5% !important;
    padding-left: 10% !important;
    padding-bottom: 50px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
  }

  @include media-breakpoint-up(xs) {
    padding-bottom: 50px !important;
    margin-right: 4px !important;
    margin-left: 2px !important;
  }
}

.modal-body {
  padding-top: 10px !important;
  background-color: transparent;
  background-image: url("./assets/img/bg/scroll-center.gif");
  background-size: 100% 100%;
  border: 0 !important;
  
  @include media-breakpoint-up(xl) {
    // padding-right: 10% !important;
    // padding-left: 10% !important;
    margin-left: 40px !important;
    // margin-right: 5px !important;
  }

  @include media-breakpoint-up(md) {
    // padding-right: 10% !important;
    // padding-left: 10% !important;
    // margin-left: 40px !important;
    // margin-right: 5px !important;
  }

  @include media-breakpoint-up(sm) {
    padding-right: 10% !important;
    padding-left: 10% !important;
    margin-left: 11px !important;
    margin-right: 8px !important;
  }
  
  @include media-breakpoint-up(xs) {
    padding-right: 10% !important;
    padding-left: 10% !important;
    margin-left: 3px !important;
    margin-right: 2px !important;
  }
}

.modal-footer {
  background-color: transparent;
  background-image: url("./assets/img/bg/scroll-bottom.gif");
  background-size: 100% 100%;
  margin: 0;
  border: 0 !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;

  @include media-breakpoint-up(md) {
    // margin-left: -100px !important;
    margin-right: 2px !important;
  }

  @include media-breakpoint-up(sm) {
    margin-left: 7px !important;
    margin-right: 4px !important;
  }
  @include media-breakpoint-up(xs) {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.modal-title {
  margin-top: 20px !important;
  font-family: MedievalSharp;
  font-weight: bold;
}
